body {
    font-family: Arial, sans-serif;
   background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffotos-gratis%2Fcodigo-binario-de-ilustracao-3d-sobre-fundo-azul-bytes-de-codigo-binario-tecnologia-de-conceito-fundo-binario-digital_92790-2153.jpg%3Fw%3D2000&f=1&nofb=1&ipt=3c17c20bcda1e5ec60387391e28e92ab69ddc64f4e8299e16294a99d7d5bafae);
    text-align: center;
    padding: 50px;
}


#form {
    margin-bottom: 20px;
}

#form input {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
}

#form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a7a3a3;
    color: rgb(201, 43, 43);
    border: none;
    border-radius: 5px;
}


#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

#counter {
    font-size: 16px;
    margin-top: 10px;
    color: aliceblue;
}


#attempted {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}


#start-game button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #475764;
    color: white;
    border: none;
    border-radius: 5px;
}


#restart-game button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
}
#title{
    color: aliceblue;
}
@keyframes fall {
    from {
        transform: translateY(-100vh) rotate(0deg);
    }
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}
