* {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffotos-gratis%2Fcodigo-binario-de-ilustracao-3d-sobre-fundo-azul-bytes-de-codigo-binario-tecnologia-de-conceito-fundo-binario-digital_92790-2153.jpg%3Fw%3D2000&f=1&nofb=1&ipt=3c17c20bcda1e5ec60387391e28e92ab69ddc64f4e8299e16294a99d7d5bafae);
    text-align: center;
    padding: 50px;
}

#start-game h1 {
    color: yellow;
}

.gameArea {
    background-color:gold;
    border-radius: 2%;
    max-width: 800px;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    justify-content:space-evenly;
    margin: auto;
}

#form {
    padding: 20px;
}

.responses {
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: start;
    font-weight: bold;
}

#form {
    margin-bottom: 20px;
}

#form label {
    color: black;
}

#form input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

#form button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #a7a3a3;
    color: rgb(201, 43, 43);
    border: none;
    border-radius: 5px;
}

#output {
    align-self: center;
    justify-self:flex-start;
    color: #000;
}

#counter {
    color: #333;
    margin-top: 10px;
}

#attempted {
    margin-top: 10px;
    color:#FF5722;
}


#start-game button {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #475764;
    color: white;
    border: none;
    border-radius: 5px;
}


#restart-game button {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
}
#title{
    color: aliceblue;
}
@keyframes fall {
    from {
        transform: translateY(-100vh) rotate(0deg);
    }
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}