* {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #090a0a;
    background-image: url(../img/bg-image.png);
    image-rendering: optimizeQuality;
    background-size: 500px;
    padding: 50px;
}

#start-game {
    text-align: center;
    justify-content: center;
    min-height: 200px;
    min-width: 400px;
}

#start-game h1 {
    color: yellow;
    font-size: 80px;
    font-family: cursive;
}

#start-game button {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #475764;
    color: white;
    border: none;
    border-radius: 5px;
}

#start-game button:hover {
    background-color: #29333b;
}

#restart-game button {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
}

#restart-game button:hover {
    background-color: #823d28;
}

.gameArea {
    opacity: 0.95;
    background-color:gold;
    border-radius: 2%;
    max-width: 800px;
    max-height: 800px;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    justify-content:space-evenly;
    place-self: center center;
}

.responses {
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-self: start;
    font-weight: bold;
}

#gameForm {
    display: flex;
    text-align: center;
}

#form {
    margin-bottom: 20px;
    padding: 20px;
}

#form label {
    color: black;
    font-weight: bold;
}

#form input {
    text-align: start;
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

#form button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4280e4;
    color: rgb(18, 15, 15);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#form button:hover {
    background-color: #304e7e;
}

#output {
    align-self: center;
    justify-self:flex-start;
    color: #000;
}

#counter {
    color: #333;
    margin-top: 10px;
}

#attempted {
    margin-top: 10px;
    color:#FF5722;
}

#title {
    color: aliceblue;
}

@keyframes fall {
    from {
        transform: translateY(-100vh) rotate(0deg);
    }
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}